<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>SEMTHING</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/dashboard">
            <h1><span>S</span>EMTHIN<span>G</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/home" data-after="Home">Home</a></li>
            <li><a href="/destinations" data-after="Service">Destinations</a></li>
            <li><a href="/about" data-after="Projects">About Us</a></li>
          </ul>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/login" data-after="Projects">Log In</a></li>
            <li><a href="/register" data-after="Projects">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- dashboard Section  -->
  <section id="dashboard">
    <div class="dashboard container">
      <img src="static/img/logo.png" alt="img">
      <div>
        <h1>WELCOME <br> TO SEMTHING</h1>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>EMTHIN<span>G</span></h1>
      </div>
      <p>Copyright © 2022 Kelompok Girls</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>